<div class="container-fluid"
     ng-controller="LoginController">
    <h1>Login</h1>

    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input ng-model="username"
           id="username"
           type="text"
           class="form-control"
           placeholder="Username">
    <p class="alert alert-danger" ng-show="!model.checkUsername">* required</p>

    <label>Password</label>
    <input ng-model="password"
           class="form-control"
           type="password"
           id="password"
           placeholder="Password">
    <p class="alert alert-danger" ng-show="!model.checkPassword">* required</p>

    <a ng-click="model.login(username, password)" class="btn btn-block btn-primary">Login</a>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>
    <a href="#!/register" class="btn btn-block btn-success">Register</a>
</div>
