<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input type="text"
           id="username"
           ng-model="username"
           class="form-control"
           placeholder="Username">
    <p class="alert alert-danger" ng-show="!model.checkUsername">* required</p>

    <label>Password</label>
    <input type="password"
           class="form-control"
           ng-model="password"
           id="password"
           placeholder="Password">
    <p class="alert alert-danger" ng-show="!model.checkPassword1">* required</p>

    <label>Verify Password</label>
    <input type="password"
           class="form-control"
           ng-model="password2"
           id="v-password"
           placeholder="Verify Password">
    <p class="alert alert-danger" ng-show="!model.checkPassword2 ">* required</p>
    <p class="alert alert-danger" ng-show="!model.checkPasswordMatch">* require match</p>

    <div class="btn-fixed">
        <a ng-click="model.register(username, password, password2)"
           class="btn btn-block btn-primary">Register</a>

        <a href="#!/login" class="btn btn-block btn-success">Cancel</a>
    </div>
</div>