input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.white {
    position: absolute;
    margin-top: 12px;
    color: white;
    margin-left: 35px;
    font-size: 18px;
}

.plusSign {
    position: absolute;
    right: 40px;
    margin-top: 15px;
    font-size: 15px;
    color: white;
}

.backSign {
    position: absolute;
    margin-left: 5px;
    top: 20px;
    font-size: 15px;
    color: white;
}

.itemIcon {
    position: absolute;
    right: 5px;
    top: 15px;
}

.list-group-item {
    color: #337ab7;
    border: hidden;
    margin-left: -50px;
    margin-right: 15px;
    margin-bottom: -5px;
}

.push-down{
    margin-top: 5%;
}

.withBorder {
    border:darkgray solid medium;
}

.navbar.navbar-default.navbar-fixed-top {
    bottom: 100%;
    background-color: #337ab7;
    background-image: none;
}

.navbar.navbar-default.navbar-fixed-top.left {
    margin-left: 1%;
    right: 68%;
    bottom: 100%;
    background-color: #337ab7;
}


.navbar.navbar-default.navbar-fixed-top.right {
    margin-left:35%;
    margin-right: 10%;
    bottom: 100%;
    background-color: #337ab7;
}

.navbar.navbar-default.navbar-fixed-top.left {
    right: 58%;
    bottom: 100%;
    background-color: #337ab7;
}

.navbar.navbar-default.navbar-fixed-top.right.wd{
    margin-left:41%;
    margin-right: 10%;
    bottom: 100%;
    background-color: #337ab7;
}

.navbar.navbar-default.navbar-fixed-bottom {
    background-color: #337ab7;
    background-image: none;
}

.bs-glyphicons.glyphicon {
    font-size: 24px;
}

.head {
    color: white;
    right: 10px;
}

.ok {
    color: white;
    position: absolute;
    right: 20px;
    margin-top: 2px;
    font-size: 15px;
}

.alert.alert-danger {
    box-sizing: border-box;
    color: red;
}

.fixed-distance {
    margin-bottom: 20px;
    left: 10px;
}

.list {
    margin-left: 30px;
}

.list {
    margin-left: 30px;
}

.fixed-width {
    margin-right: 50px;
}

.fixed-right-page-distance{
    margin-top: 25px;
}

.form-control.large-input {
    height: 100px;
}

.col-sm-4.line {
    margin-top: -15px;
    height: 90vh;
    border-right-color: darkgrey;
    border-right: medium solid;
}

.col-sm-5.line {
    height: 100%;
    border-right-color: darkgrey;
    border-right: medium solid;
    border-top: hidden;
}

.col-sm-6.fixed{
    left: 3%;
}

.col-sm-7.fixed {
    left: 3%;
}

.wd-widget {
    position: relative;
    margin-bottom: 10px;
}

.wd-image-bottom {
    margin-bottom: 11%;
}

.wd-toolbar {
    position: absolute;
    background-color: white;
    top: 0px;
    right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    opacity: 0.8;
}

.wd-push-up {
    position: relative;
    margin-bottom: 15%;
}

.btn-fixed {
    margin-top: 10px;
}

.fixed-left {
    margin-left: 15px;
}

.plus {
    position: absolute;
    margin-right: 110px;
    margin-top: 2px;
    font-size: 15px;
    color: white;
}

.pageList-plusSign {
    position: absolute;
    margin-right: 40px;
    margin-top: 1px;
    font-size: 15px;
    color: white;
}

.backSign.down {
    margin-top: 15px;
}

.wd-content {
    margin-bottom: 15px;
}

.set-white {
    color:white;
}

/*Flickr Search*/
.flickr-list.margin {
    margin-right: 1%;
    margin-left: 1px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.flickr-photo {
    margin-bottom: 5px;
}

/*widget youtube*/

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}