<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text pull-left">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
            <span class="glyphicon glyphicon-chevron-left backSign"></span>
        </a>
    </p>

    <p class="white">Widgets</p>

    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
           class="navbar-link">
            <span class="glyphicon glyphicon-plus pageList-plusSign"></span>
        </a>
    </p>
</nav>

<div class="container-fluid">
    <div class="fixed-distance"
         wd-draggable="">
        <ul ng-repeat="widget in model.widgets"
            ng-switch="widget.widgetType">
            <li ng-switch-when="HEADING" class="wd-content">
                <div class="wd-widget">
                    <div class="wd-toolbar">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div ng-switch="widget.size">
                    <h1 ng-switch-when="1">{{widget.text}}</h1>
                    <h2 ng-switch-when="2">{{widget.text}}</h2>
                    <h3 ng-switch-when="3">{{widget.text}}</h3>
                    <h4 ng-switch-when="4">{{widget.text}}</h4>
                    <h5 ng-switch-when="5">{{widget.text}}</h5>
                    <h6 ng-switch-when="6">{{widget.text}}</h6>
                    <h5 ng-switch-default>{{widget.text}}</h5>
                </div>
            </li>

            <li ng-switch-when="IMAGE" class="wd-content">
                <div class="wd-widget">
                    <div class="wd-toolbar">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div>
                    <img ng-src="{{widget.url}}">
                </div>
            </li>

            <li ng-switch-when="HTML" class="wd-content">
                <div class="wd-widget">
                    <div class="wd-toolbar">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div ng-bind-html="model.getHtml(widget)"></div>
            </li>

            <li ng-switch-when="YOUTUBE" class="wd-content youtube-widget">
                <iframe width="{{widget.width}}"
                        ng-src="{{model.getUrl(widget)}}"
                        frameborder="0"
                        allowfullscreen>
                </iframe>

                <div class="wd-widget">
                    <div class="wd-toolbar">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>
            </li>

            <div ng-switch-when="TEXT">
                <div class="wd-widget">
                    <div class="wd-toolbar">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>

                <div ng-if="widget.formatted"
                     text-angular
                     ta-toolbar="[['h1','h2','h3'],
                     ['bold','italics','underline','strikeThrough'],
                     ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                     ['indent','outdent']]">
                </div>

                <input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
                       placeholder="{{widget.placeholder}}"
                       class="form-control"/>

                <textarea ng-if="!widget.formatted && (widget.rows > 1)"
                          rows="{{widget.rows}}"
                          placeholder="{{widget.placeholder}}"
                          class="form-control">{{widget.text}}
                </textarea>
            </div>

            <li ng-switch-default class="wd-content">
                <div class="wd-widget">
                    <div class="wd-toolbar">
                        <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </a>
                    </div>
                </div>
                <div>
                    {{widget}}
                </div>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <p class="navbar-text pull-right">
        <a href="#!/user/{{model.userId}}" class="navbar-link" class="navbar-link">
            <span class="glyphicon glyphicon-plus glyphicon-user head"></span>
        </a>
    </p>
</nav>